.latest-head {
  text-transform: uppercase;
  color: #0089ff;
  letter-spacing: 1px;
  margin-bottom: 15px;
  width: 100%;
  @media (max-width: 768px) {
    margin-top: 100px;
  }
}

.latest-work {
  padding: 0;

  h3 {
    font-size: 32px;
    line-height: 34px;
  }

  .work-grid {
    .work-left {
      position: relative;
      height: auto;
      cursor: pointer;
      border-radius: 6px;
      overflow: hidden;

      .work-screens {
        width: 330px;
        height: auto;
        overflow: hidden;
        position: relative;
        border-radius: 7px;
        img {
          width: 100%;
          border-radius: 7px;
        }
      }

      .work-type {
        display: none;
        text-align: left;
        transition: all 0.5s ease-out;

        .number {
          font-size: 52px;
          color: #c8ccd7;
          line-height: 1;
          margin-bottom: 10px;
        }
        .logo {
          height: 48px;
        }

        .left-head-title {
          height: calc(100% - 62px);
          position: relative;

          .about-project-title {
            color: #000;
            line-height: 1;
            font-size: 32px;
            display: inline-block;

            .proj-name {
              font-size: 26px;
              width: 100%;
              display: inline-block;
              margin-bottom: 10px;
            }

            .my-role {
              display: inline-block;
            }

            .proj-desc {
              font-size: 16px;
              line-height: 20px;
              display: inline-block;
              color: #666666;
              margin-bottom: 15px;
            }
          }

          a {
            text-decoration: none;
            padding: 16px 20px;
            font-size: 18px;
            cursor: pointer;
            display: inline-block;
            border-radius: 10px;
            border: 2px solid var(--btnblue);
            background: var(--white);
            color: var(--btnblue);
            transition: all 0.3s ease, transform 0.3s ease;
            &:hover {
              background: var(--btnblue);
              color: #fff;
              transform: scale(1.05);
            }
          }
        }
      }

      .work-type {
        display: block;
        width: calc(100% - 330px);
        height: 100%;
        z-index: 3;
        background-color: #fff;
        text-align: left;
        background-position: left bottom;
      }
    }
  }

  .branding-wrap {
    gap: 20px;
    justify-content: center;
    background: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    img {
      height: 54px;
    }
    li {
      transition: all 0.5s ease-in-out;
      width: 170px;
      @media (max-width: 768px) {
        width: 140px;
      }
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}

@media (max-width: 768px) {
  .latest-work {
    .work-grid {
      .work-left {
        .work-screens {
          width: 100%;
          max-height: 300px;
          height: auto;
          margin-bottom: 15px;
        }
        .work-type {
          width: 100%;
          margin: 0px;
          height: auto;
          .left-head-title {
            height: auto;
          }
        }
      }
    }
  }
}
